.App {
  text-align: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  font-family: 'Electrolize';
  color: white;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.App::-webkit-scrollbar {
  display: none;
}

.section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
}

.App__Projects {
  background: linear-gradient(180deg, #7000FF 0%, #A90065 100%);
}
.App__Contact {
  background: linear-gradient(180deg, #A90065 0%, #BC0606 100%);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}